* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$colorHeader: #D37A47;
$colorNav: #C26F41;
$colorBody: #DFC7A3;

@media screen and (min-width:321px) {
    .tituloD {
        text-decoration: underline;
        margin-left: 1%;
        text-align: center;
        width: 200px;
        height: 50px;
        color: black;
        font-size: large;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
    }

    .subtituloDesktop {
        margin-left: 1%;
        text-align: center;
        width: 200px;
        height: 50px;
        opacity: 60%;
        font-size: large;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
    }

    .cardDesktop {
        margin-top: 50px;
        margin-left: 25px;
        text-align: center;
    }

    .portadaDesktop {
        .portada {
            height: 280px;
            width: 228px;
            object-fit: cover;
            border: solid;
        }
    }

    .botonDesktop {
        .btn {
            background-color: green;
            color: black;
            font-size: large;
        }
    }

    header {
        background-color: $colorHeader;
        height: 150px;
        display: flex;
        align-items: center;
        grid-area: header;

        .header--inicio {
            font-family: Arial, Helvetica, sans-serif;
            color: white;
            text-decoration: none;

            &:hover {
                opacity: .5;
            }
        }

        .header--carrito {
            font-family: Arial, Helvetica, sans-serif;
            color: white;
            text-decoration: none;

            &:hover {
                opacity: .5;
            }
        }
    }

    nav {
        background-color: $colorNav;
        height: 60px;
        grid-area: nav;
    }

    body {
        background-color: $colorBody;

        main {
            width: 99%;
            height: 2000px;
            grid-area: main;


            .carrousel1 {
                width: 1000px;
                border: solid;
                margin-left: 25%;
            }

            .ofertasInfo {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr;
                grid-template-areas:
                    "tenvio tcompra tdescuento"
                    "senvio scompra sdescuento";

                .titulo--envio {
                    @extend .tituloD;
                    grid-area: tenvio;
                }

                .titulo--compra {
                    @extend .tituloD;
                    grid-area: tcompra;
                }

                .titulo--descuento {
                    @extend .tituloD;
                    grid-area: tdescuento;
                }

                .subtitulo--envio {
                    @extend .subtituloDesktop;
                    grid-area: senvio;
                }

                .subtitulo--compra {
                    @extend .subtituloDesktop;
                    grid-area: sdescuento;
                }

                .subtitulo--envio {
                    @extend .subtituloDesktop;
                    grid-area: senvio;
                }
            }

            .novedades {
                padding-top: 3%;
                text-align: center;
                text-decoration: overline;
                font-family: Arial, Helvetica, sans-serif;
            }

            .mangasD {
                display: grid;
                padding-left: 25%;
                grid-template-columns: auto;
                grid-row: repeat(6 1fr);
                grid-template-areas:
                    "cjujutsu cpromised chaikyu ctokyog ctokyo cslam ";

                .mangas {
                    flex-direction: row;

                    .card--jujutsu {
                        @extend .cardDesktop;
                        @extend .botonDesktop;
                        @extend .portadaDesktop;
                        @extend .botonDesktop;

                        .card-body {
                            margin-left: 60%;
                        }

                        grid-area: cjujutsu;
                    }

                    .card--promised {
                        @extend .cardDesktop;
                        @extend .botonDesktop;
                        @extend .portadaDesktop;

                        .card-body {
                            margin-left: 60%;
                        }

                        @extend .botonDesktop;
                        grid-area: cpromised;
                    }

                    .card--haikyu {
                        @extend .cardDesktop;
                        @extend .botonDesktop;
                        @extend .portadaDesktop;

                        .card-body {
                            margin-left: 60%;
                        }

                        @extend .botonDesktop;
                        grid-area: chaikyu;
                    }

                    .card--tokyog {
                        @extend .cardDesktop;
                        @extend .botonDesktop;
                        @extend .portadaDesktop;

                        .card-body {
                            margin-left: 60%;
                        }

                        @extend .botonDesktop;
                        grid-area: ctokyog;
                    }

                    .card--tokyo {
                        @extend .cardDesktop;
                        @extend .botonDesktop;
                        @extend .portadaDesktop;
                        @extend .botonDesktop;
                        grid-area: ctokyog;
                    }

                    .card--tokyo {
                        @extend .cardDesktop;
                        @extend .botonDesktop;
                        @extend .portadaDesktop;

                        .card-body {
                            margin-left: 60%;
                        }

                        @extend .botonDesktop;
                        grid-area: ctokyo;
                    }

                    .card--slam {
                        @extend .cardDesktop;
                        @extend .botonDesktop;
                        @extend .portadaDesktop;

                        .card-body {
                            margin-left: 60%;
                        }

                        @extend .botonDesktop;
                        grid-area: cslam;
                    }
                }
            }
        }

        .main--sesion {
            .contenedor--sesion {
                border: solid;
                margin-left: 40%;
                margin-top: 10%;
                width: 500px;
                height: 300px;
            }
        }

            .main--compra {
                .contenedor--compra {
                    margin: auto;
                    width: 90%;
                    display: grid;
                    grid-template-columns: 2fr 1fr;
                    grid-template-rows: 3fr auto;
                    grid-template-areas:
                        "uno dos"
                        "tres tres"
                    ;

                    .uno {
                        grid-area: uno;
                        margin-left: 200px;
                    }

                    .dos {
                        grid-area: dos;
                    }

                    .tres {
                        grid-area: tres;
                        .prueba{
                            text-align: center;
                        }
                    }
                    .aside{
                        .temporal{
                            color: rgb(168, 167, 167);
                        }
                        .detalles--de--compra{
                            .boton--carrito{
                            .buton{
                                background-color: rgb(207, 162, 79);
                                border-radius: 10%;
                                text-align: center;
                                text-decoration: none;
                                text-decoration:underline;
                                color: black;
                                &:hover {
                                    opacity: .5;
                                }
                            }
                        }
                        }
                    }
                }
            }
        }
    }

    footer {
        background-color: $colorHeader;

        .contenedorFooter {
            display: flex;
            align-content: center;
            width: 700px;
            margin-left: 32%;
            justify-content: space-between;

            .fb {
                &:hover {
                    opacity: .5;
                }
            }

            .ig {
                &:hover {
                    opacity: .5;
                }
            }

            .tw {
                &:hover {
                    opacity: .5;
                }
            }
        }
    }



@media screen and (max-width:320px) {
    .titulo {
        text-decoration: underline;
        margin-left: 20%;
        text-align: center;
        width: 200px;
        height: 50px;
        color: black;
        font-size: large;
        font-family: Arial, Helvetica, sans-serif;
    }


    .subtitulo {
        margin-left: 20%;
        text-align: center;
        width: 200px;
        height: 50px;
        opacity: 60%;
        font-size: large;
        font-family: Arial, Helvetica, sans-serif;
    }


    .cards {
        margin-top: 50px;
        margin-left: 25px;
        text-align: center;
    }

    .port {
        .portada {
            height: 180px;
            width: 128px;
            object-fit: cover;
        }
    }

    .boton {
        background-color: green;
        color: black;
        font-size: large;
    }

    header {
        background-color: $colorHeader ;
        width: 320px;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        flex-direction: column;
        color: white;
        grid-area: header;

        .contenedor {
            align-items: center;
            justify-content: center;
            display: flex;
            flex-direction: column;

            .header--logo {
                width: min-content;
                height: min-content;
            }

            .header--inicio {
                height: min-content;
                padding: 0;
                margin: 0;
                text-decoration: none;
                color: white;
            }

            .header--carrito {
                height: min-content;
                padding: 0;
                margin: 0;
                text-decoration: none;
                color: white;
            }
        }
    }

    .navbar {
        background-color: $colorNav;
        width: 320px;
        grid-area: nav;
    }

    body {
        width: 320px;
        background-color: $colorBody;

        main {
            background-color: $colorBody;
            grid-area: main;
            height: 1800px;
            width: 320px;

            .ofertasInfo {
                display: flex;
                flex-direction: column;
                margin: 1px;

                .titulo--envio {
                    @extend .titulo;
                    grid-area: tenvio;
                }

                .titulo--compra {
                    @extend .titulo;
                    grid-area: tcompra;
                }

                .titulo--descuento {
                    @extend .titulo;
                    grid-area: tdescuento;
                }

                .subtitulo--envio {
                    @extend .subtitulo;
                    grid-area: senvio;
                }

                .subtitulo--compra {
                    @extend .subtitulo;
                    grid-area: scompra;
                }

                .subtitulo--descuento {
                    @extend .subtitulo;
                    grid-area: sdescuento;
                }
            }

            .novedades {
                text-align: center;
                margin-top: 30px;
                text-decoration: overline;
                font-family: Arial, Helvetica, sans-serif;
            }

            .mangas {
                display: flex;

                .card--jujutsu {
                    @extend .cards;

                    .portada {
                        @extend .port;
                    }

                    .btn {
                        @extend .boton;
                    }
                }

                .card--promised {
                    @extend .cards;

                    .portada {
                        @extend .port;
                    }

                    .btn {
                        @extend .boton;
                    }
                }

                .card--haikyu {
                    @extend .cards;

                    .portada {
                        @extend .port;
                    }

                    .btn {
                        @extend .boton;
                    }
                }

                .card--tokyog {
                    @extend .cards;

                    .portada {
                        @extend .port;
                    }

                    .btn {
                        @extend .boton;
                    }
                }

                .card--tokyo {
                    @extend .cards;

                    .portada {
                        @extend .port;
                    }

                    .btn {
                        @extend .boton;
                    }
                }

                .card--slam {
                    @extend .cards;
                }

                .portada {
                    @extend .port;
                }

                .btn {
                    @extend .boton;
                }
            }

            .main--sesion {
                height: 500px;
            }

            .contenedor--sesion {
                margin-top: 50px;
            }
        }
    }
    .body--venta{
        width: 320px;
        .main--compra{
            .contenedor--compra{
                width: 2000px;
            }
        }
    }

}